.gif-search {
  margin-bottom: 20px;
}

.search-gifs input {
  width: 200px;
}

.gif-results, .gif-add {
  margin-bottom: 20px;
}

.gif-results col.gif {
  width: 25%;
}
.gif-results col.keywords {
  width: 38%;
}
.gif-results col.actions {
  width: 37%;
}

.gif-results td.image img {
  width: 160px;
}

.keyword {
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  float: left;
}

.gif-preview {
  position: relative;
  width: 174px;
  text-align: center;
  cursor: pointer;

  i {
    font-size: 6rem;
    position: absolute;
    top: 20%;
    left: 33%;
    color: whitesmoke;
  }
}

.gif-preview.playing i {
  display: none;
}

.search-input {
  position: relative;
  display: inline;

  i {
    position: absolute;
    right: 12px;
    top: 0px;
    cursor: pointer;
  }

  input {
    padding-right: 25px;
  }
}