<div id="main-container">
    <div id="main-content" class="main-content modal-main-content container-fluid">
        <div class="row-fluid">
            <div class="span2 offset5">
                <img src="/assets/img/logo.png">
            </div>
        </div>
        <!-- // page head -->
        <div id="page-content" class="page-content modal-page-content" ui-view="main" ng-animate="'fade'"></div>
        <!-- // page content -->
    </div>
    <!-- // main-content -->
</div>
<!-- // main-container  -->